{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!
{% endblock %}

{% block body %}
	<section class='flex w-full h-screen'>
		<twig:AsideBar/>
		<div class="example-wrapper">
			<h1>Hello {{ controller_name }}! ✅</h1>

		</div>
	</section>
{% endblock %}
