{% extends 'base.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
     <section class="flex h-screen w-full">
        <twig:AsideBar/>
        
        <main class="flex flex-col w-full p-8 gap-6 text-gray-500">
            {{ component('NewClient') }}
        </main>
        
    </section>
{% endblock %}
