{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block body %}
	<section class='flex w-full h-screen'>
		<twig:AsideBar/>

		<div class='flex w-full items-center justify-center'>

			<h1>Hello
				{{ controller_name }}! ✅</h1>

		</div>
	</section>
{% endblock %}
